[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/skaraga-coder
[access "refs/for/refs/*"]
	read = group user/skaraga-coder
	push = group user/skaraga-coder
	label-Code-Review = -2..+2 group user/skaraga-coder
	label-Verified = -1..+1 group user/skaraga-coder
	rebase = group user/skaraga-coder
	removeReviewer = group user/skaraga-coder
	submit = group user/skaraga-coder
[access "refs/heads/*"]
	read = group user/skaraga-coder
	create = group user/skaraga-coder
	push = +force group user/skaraga-coder
	pushMerge = group user/skaraga-coder
[access "refs/tags/*"]
	push = +force group user/skaraga-coder
	pushTag = group user/skaraga-coder
	pushSignedTag = group user/skaraga-coder
